.venv
booksql
tttt

__pycache__/
**/__pycache__/

benchmarks
baselines

files/data_source
files/external
files/instance_schemas
files/log
files/pred_sql
files/reasoning_examples/user
files/schema_links
files/schema_reduce
files/schema_source
files/datasets
files/credential
files/sub_questions
files/optimized_sql
files/FinSQL
files/selected_sql
files/temp_demo_data
files/uploaded_db

config/sys_config_old.json
API.md
test

startup_run/spider_dev_config.json
startup_run/demo.json
startup_run/run2.py
startup_run/config_for_paper.json
startup_run/voter_1

optimization_plan.txt
extension

writing

experiment

evaluation

build_examples

extract_schemas

entension

spider2

post_spider2

examples

squrl

test_app
