.venv
ttt
tttt

__pycache__/
**/__pycache__/

benchmarks
baselines

files/data_source
files/external
files/instance_schemas
files/log
files/pred_sql
files/reasoning_examples/user
files/schema_links
files/schema_reduce
files/schema_source
files/datasets
files/credential
files/sub_questions

API.md
test

startup_run/spider_dev_config.json
startup_run/demo.json
startup_run/overall.json

startup_run/voter_1

optimization_plan.txt
extension